.App {
  text-align: left;
}

.nav-custom{
  background-color:#648EF7;
  padding: 20px 150px;
}
.nav-left{
  padding-left: 60px;
}
.dropdown-toggle::after {
  color:#FFFFFF;
  ;
}
.nav-space{
  font-weight: 700;
  
}
.hero-container{
  padding-left: 150px;
  background-color: #437EF7;
  padding-top: 48px;
}

@media only screen and (max-width: 768px) {
  .nav-custom{
    background-color: #648EF7;
    padding: 16px 30px;
  }
  .hero-container, .nav-left{
    padding-left: 30px;
  }
}